/* odal */
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    animation: openModal 0.3s ease;
}

.modal-container{
	background-color: #fff;
	width: 30%;
	margin: 10% auto;
	padding: 3% 5%;
    border-radius: 10px;
    position: relative;
}

.form h2{
    text-align: center;
    font-size: 24px;
	letter-spacing: 0.06em;
	font-family: 'rubik-light';
	margin-bottom: 5%;
}

.form-control{
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.form-control input{
	color: #1d1d1d;
	font-family: 'rubik-light';
	font-size: 18px;
    display: block;
    width: 100%;
    padding: 1.5% 2%;
	border: none;
	border-bottom: 1px #1d1d1d9c solid;
	text-transform: capitalize;
}
.form{
	text-align: center;
}
.form .modalBtn{
    border: 2px #1d1d1d solid;
	background-color:transparent;
	font-family: 'rubik-light';
    color: #1d1d1d;
    padding: 2% 5%;
    font-size: 18px;
	cursor: pointer;
	transition: 0.2s linear;
}

.form .modalBtn:hover{
	background-color: #1d1d1d;
	color: #fff;
}

@media(max-width: 600px){
    .navbar i{
        display: inline-block;
        color: #fff;
        font-size: 1.75rem;
        cursor: pointer;
    }

    .nav-links{
        display: none;
    }

    .sidebar{
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgb(31, 118, 172);
        display: inline-block;
        height: 100%;
        width: 200px;
    }

    .sidebar i{
        position: absolute;
        top: 10px;
        left: 10px;
        color: #fff;
        font-size: 1.75rem;
        cursor: pointer;
    }

    .side-nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;
    }

    .side-nav-links li a{
        color: #fff;
        font-size: 1.2rem;
    }

    .side-nav-links li a:hover{
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
    }
}

@keyframes openModal{
  from{
    opacity: 0;
  }
  
  to{
    opacity: 1;
  }
}
/* burger bar */
.backgrounddd{
	height: 100vh;
	overflow-x: hidden;
	background: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.363)),
	 url(../images/iceberg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.backgrounddd.active:before {
	opacity: 1;
}
/* .backgrounddd:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgba(0, 0, 0, .40);
	-webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	-moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
} */
.hamburger-menu {
	width: 5.5rem;
	height: 5.5rem;
	position: absolute;
	top: 5rem;
	right: 5rem;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
	cursor: pointer;
	z-index: 100;
	transition: .2s linear;
}
.hamburger-menu.active {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0.5;
}
.hamburger-menu.active span:first-child {
	top: 2rem;
	position: absolute;
	-moz-transform: rotate(-50deg);
	-webkit-transform: rotate(-50deg);
	-o-transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
	transform: rotate(-50deg);
}
.hamburger-menu.active span:nth-of-type(2) {
	top: 2rem;
	position: absolute;
	-moz-transform: rotate(230deg);
	-webkit-transform: rotate(230deg);
	-o-transform: rotate(230deg);
	-ms-transform: rotate(230deg);
	transform: rotate(230deg);
	-webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	-moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}
.hamburger-menu.active span:last-of-type{
   display: none;
}
.hamburger-menu span {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	height: 3%;
	width: 40%;
	background: #fff;
	-webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	-moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	margin: 0.4rem 0;
	font-size: 10px;
}
.hamburger-menu:hover{
	opacity: 0.5;
}
.menu {
	width: 100%;
	height: 32rem;
	left: 0;
	transform: matrix(1, 0, 0, 1, 0, -320);
	-ms-transform: matrix(1, 0, 0, 1, 0, -320);
	-webkit-transform: matrix(1, 0, 0, 1, 0, -320);
	-webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	-moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	justify-content: center;
}
.menu ul {
	flex: auto;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	overflow: hidden;
	position: absolute;
	top: 25%;
	
}
.menu ul li {
	transform: matrix(1, 0, 0, 1, 0, 40);
	-ms-transform: matrix(1, 0, 0, 1, 0, 40);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 40);
	-webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	-moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}
.menu ul li a {
	font-size: 22px;
	font-family: 'rubik-light';
	line-height: 5rem;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	color: #fff;
	padding: 0 4rem;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu ul li a:hover {
	opacity: 0.5;
}
.menu.active {
	transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	background: #14141488;
	height: 100vh;
}
.menu.active ul li {
	animation: fadeIn 1s ease-in both;
}
.menu.active ul li:nth-child(1) {
	animation-delay: 0.5s;
}
.menu.active ul li:nth-child(2) {
	animation-delay: 1s;
}
.menu.active ul li:nth-child(3) {
	animation-delay: 1.5s;
}
.menu.active ul li:nth-child(4) {
	animation-delay: 2s;
}
.menu.active ul li:nth-child(5) {
	animation-delay: 2.5s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: matrix(1, 0, 0, 1, 0, 40);
		-ms-transform: matrix(1, 0, 0, 1, 0, 40);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 40);
   }
	to {
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, 0);
		-ms-transform: matrix(1, 0, 0, 1, 0, 0);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
   }
}

/* base */
.container {
	max-width: 80%;
	margin: 0 auto;
}
.flex {
	display: flex;
}
button:focus,
input:focus{outline: none;}

/* header */


.header_wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo_wrapper{
	display: flex;
	align-items: center;
}
.logo_wrapper p{
	text-transform: uppercase;
	color: #fff;
	font-size: 36px;
	letter-spacing: 0.06;
	font-family: 'rubik-light';
}
.logo{
	color: #fff;
	opacity: .9;
	font-size: 64px;
}
.heading_wrapper{
	position: absolute;
	top: 55%;
	left: 50%;
	font-size: 70px;
	color: #fff;
	text-transform: capitalize;
	transform: translate(-50%,-55%);
}
.heading_wrapper p{
	font-size: 32px;
	text-align: center;
}
.backgrounddd button{
	background-color: transparent;
	border: 2px solid #eb5f1e;
	text-transform: capitalize;
	font-size: 18px;
	color: #fff;
	font-family: 'rubik-light';
	padding:2% 2.5%;
	transition: .1s linear;
	cursor: pointer;
	letter-spacing: 0.06em;
	transition: 0.2s linear;
}
.bg_4 button:hover,
.backgrounddd button:hover{
	background-color: #eb5f1e;
	color: #fff;
}
.bg_2{
	padding: 10% 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.bg_2 h2{
font-size: 70px;
letter-spacing: 0.06em;
font-family: "rubik-light";
text-transform: capitalize;
color: #1d1d1d;
width: 48%;
}
.who{
	width: 48%;
}
.who p{
	color: #1d1d1d;
	font-family: "rubik-light";
	font-size: 22px;
	letter-spacing: 0.06em;
	line-height: 32px;
}
.who p:last-of-type{
margin-top: 7%;
}

/* section 2- how it works */
.bg_3{
	padding: 10% 0;
	background-color: #71717117;
}
.bg_4 h2,
.bg_3 h2{
	font-size: 70px;
	text-align: center;
	letter-spacing: 0.06em;
	font-family: 'rubik-light';
	text-transform: uppercase;
}
.how_box_wrapper{
	margin: 5% 0 10% 0;
	display: flex;
	justify-content: space-between;
}
.how_box{
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	width: 30%;
}
.how_icons{
	text-align: center;
}
.how_icon{
	text-align: end;
	font-size: 60px;
	color: #eb5f1e;
}
.how_box p{
	line-height: 24px;
	color: #1d1d1d;
	opacity: 0.8;
	font-size: 18px;
	font-family: "rubik-light";
	margin-top: 10%;
}
.bold{
	border-bottom: #1d1d1d3f 1px solid;
}
.bg_3 button{
	background-color: transparent;
	border: 2px solid #1d1d1d;
	text-transform: capitalize;
	font-size: 18px;
	color: #1d1d1d;
	font-family: 'rubik-light';
	padding:1% 1.5%;
	transition: .1s linear;
	cursor: pointer;
	letter-spacing: 0.06em;
	transition: 0.2s linear;
}

.bg_3 button:hover{
	background-color: #1d1d1d;
	color: #fff;
}
.button_wrapper{
	text-align: center;
}
.bg_4{
	padding: 10% 0;
}

/* our blog */
.box_flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 7%;
}
.box {
	display: flex;
	flex-direction: column;
	width: 315px;
	border: 0.5px solid #CECECE;
	border-radius: 10px;
	transition: .1s linear;
}
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3) {
	margin-bottom: 80px;
}
.box h3 {
	font-family: 'Rubik-Regular';
	font-size: 18px;
	text-align: center;
	letter-spacing: 0.06em;
	margin: 10% 10% 5% 10%;
	color: black;
	opacity: 0.88;
	text-transform: capitalize;
}
.box p {
	font-family: 'Rubik-Light';
	font-size: 16px; 
	line-height: 20px;
	margin: 0 10%;
	color: black;
	opacity: 0.88;
	letter-spacing: 0.06em;
}
.books {
	border-radius: 10px;
	width: 100%;
}
.read{
	text-align: end;
}
.read p{
	font-size: 14px;
	margin: 7% 10% 5% 0;
	text-transform: capitalize;
	color: #093cac;
}
.read p:hover{
	color: #6176a3;
}
.bg_4 button{
	background-color: transparent;
	border: 2px solid #1d1d1d;
	text-transform: capitalize;
	font-size: 18px;
	color: #1d1d1d;
	font-family: 'rubik-light';
	padding:1% 1.5%;
	transition: .1s linear;
	cursor: pointer;
	letter-spacing: 0.06em;
	transition: 0.2s linear;
}
.bg_4 button:hover{
	background-color: #1d1d1d;
	color: #fff;
}

/* publications  */
.bg_5{
	background-color: #71717117;
	padding: 10% 0;
	text-align: center;
}
.bg_5 h2{
	font-size: 70px;
	font-family: 'rubik-light';
	text-transform: capitalize;
	letter-spacing: 0.06em;
}
.publ_wrapper{
	display: flex;
	justify-content: space-between;
	margin: 5% 0;
}
.bg_5 h3{
	color: #fff;
	font-size: 25px;
	font-family: 'rubik-light';
	letter-spacing: 0.06em;
	text-transform: capitalize;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

.block_1{
	background-image:linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.89)), 
	url(https://www.ceeol.com/api/image/getissuecoverimage?id=picture_2019_48336.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 65%;
	height: 200px;
	position: relative;
	transition: 0.2s linear;
}
.block_2{
	background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.767)),
	url(https://www.apa.org/pubs/books/images/431799A-475.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 30%;
	height: 200px;
	transition: 0.3s linear;
}
.block_wrapper{
	display: flex;
	justify-content: space-between;
}
.blocks{
	background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.623)),
	url(https://sigmapubs.onlinelibrary.wiley.com/cms/asset/6fbd11b3-8a3a-45e1-af4a-6bad4fc870da/jnu.2018.50.issue-6.cover.jpg);
	height: 200px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 30%;
	transition: 0.3s linear;
}
.block_1:hover,
.block_2:hover,
.blocks:hover{
	transform: scale(1.1,1.1);
}
.bg_5 button{
	color: #1d1d1d;
	background-color: transparent;
	border: #1d1d1d 2px solid;
	font-size: 18px;
	text-transform: capitalize;
	font-family: 'rubik-light';
	padding: 0.9% 1.5%;
	margin-top: 5%;
	cursor: pointer;
	transition: 0.2s linear;
}
.bg_5 button:hover{
	color: #fff;
	background-color: #1d1d1d;
}
/* let's talk */
.bg_6{
	padding: 10% 0;
}
.contact_wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact_wrapper img{
	width: 48%;
}
.contact_wrapper h2{
	font-size: 70px;
	font-family: 'rubik-light';
	letter-spacing: 0.06em;
	text-transform: capitalize;
	color: #1d1d1d;
}
.contact_wrapper p{
	font-size: 22px;
	letter-spacing: 0.06em;
	font-family: 'rubik-light';
	line-height: 32px;
	margin: 5% 0 10% 0;
}
.talk{
	width: 48%;
}
.bg_6 button{
	border: #1d1d1d 2px solid;
	background-color: transparent;
	color: #1d1d1d;
	text-transform: capitalize;
	padding: 0.8% 1.5%;
	font-size: 18px;
	font-family: 'rubik-light';
	cursor: pointer;
	margin-top: 5%;
	transition: 0.2s linear;
}
.bg_6 button:hover{
	color: #fff;
	background-color: #1d1d1d;
}
/* footer */
.background_img_f{
	background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.363)),
	url(../images/iceberg.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
	height: 300px;
	padding-top: 5%;
}
.form_wrapper{
	display: flex;
	flex-direction: column;
	width: 40%;
}
.form_wrapper label{
	font-size: 32px;
	font-family: 'rubik-light';
	letter-spacing: 0.06em;
	text-transform: capitalize;
	color: #fff;
	opacity: .9;
}
.form_wrapper input{
	font-size: 18px;
	padding: 2% 2.5%;
	color: #1d1d1d;
	border: none;
	margin: 5% 0;
	font-family: 'rubik-light';
}
.form_wrapper button{
	font-size: 18px;
	border: 2px #fff solid;
	background-color: transparent;
	padding: 1.5% 1%;
	color: #fff;
	text-transform: capitalize;
	opacity: .9;
	margin-left: -0.5%;
	width: 30%;
	cursor: pointer;
	transition: 0.2s linear;
}
.form_wrapper button:hover{
	background-color: #fff;
	color: #1d1d1d;
}
.button_wrapper_sub{
	text-align: end;
}
.footer_wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icons{
	display: flex;
	justify-content: space-between;
	width: 8%;
}
.social{
	color: #fff;
	font-size: 24px;
	transition: 0.2s linear;
}
.social:hover{
	color: rgba(255, 255, 255, 0.644);
}
.background_img_f p{
	text-align: center;
	text-transform: capitalize;
	color: #fff;
	opacity: .8;
	font-family: 'rubik-light';
	margin-top: 7%;
}

/* back to top button */
#back_to_top{
	position: fixed;
	bottom: 48px;
	right: 48px;
	background-color: #1d1d1d;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 16px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 700;
	transition: all 0.2s linear;
	display: inline-block;
	opacity: 0;
	text-decoration: none;
	font-size: 12px;
	box-shadow: 1 1 32px #1d1d1d;
	font-family: 'Rubik-Light';
}
#back_to_top:hover{
	padding: 16px 48px;
}
#back_to_top.visible {
	opacity: 1;
}
/* blog page */
/* header */
.background_img_blog{
	background-image: url(../images/top.png);
	background-position: top;
	background-size: cover;background-attachment: fixed;
	height: 330px;
	background-repeat: no-repeat;
}
.background_img_blog h1{
	font-size: 80px;
	color: white;
	padding-top: 100px;
	text-transform: capitalize;
}
/* slider */
.latest{
	font-size: 30px;
	opacity: 0.85;
	text-transform: capitalize;
	margin: 60px 0 30px 100px;
}
/* Slideshow container */
.slideshow-container {
	position: relative;
  }
  .slides_cont{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 65%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
  }
  
  /* Caption text */
  .text a{
	color: #f2f2f2;
	font-size: 30px;
	padding: 8px 12px;
	position: absolute;
	bottom: 60px;
	left: 130px;
	text-transform: capitalize;	
  }
  .text a:nth-child(2){
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 30px;
	left: 130px;
	width: 300px;	
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  .dot_s{
	margin:20px 0 100px 0;
	text-align: center;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }

  .lala{
	  background-image: url(../images/iddle.png);
	  height: 100px;
	  background-attachment: fixed;
	  background-position: center;
	  background-size: contain;
	  background-repeat: no-repeat;
  }