
/* base */
.container {
	max-width: 80%;
	margin: 0 auto;
}
.flex {
	display: flex;
}
button:focus,
input:focus{
	outline: none;
}
.here{
	border-bottom: solid #eb5f1e 2px;
	width: 20%;
}
/* header */

.header_wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo_wrapper{
	display: flex;
	align-items: center;
}
.logo_wrapper p{
	text-transform: uppercase;
	color: #fff;
	font-size: 36px;
	letter-spacing: 0.06;
	font-family: 'rubik-light';
}
.logo{
	color: #fff;
	opacity: .9;
	font-size: 64px;
}
.heading_wrapper{
	position: absolute;
	top: 55%;
	left: 50%;
	font-size: 70px;
	color: #fff;
	text-transform: capitalize;
	transform: translate(-50%,-55%);
}
.heading_wrapper p{
	font-size: 32px;
	text-align: center;
}
.backgrounddd button,
.backgrounddd_blog button{
	background-color: transparent;
	border: 2px solid #eb5f1e;
	text-transform: capitalize;
	font-size: 18px;
	color: #fff;
	font-family: 'rubik-light';
	padding:2% 2.5%;
	transition: .1s linear;
	cursor: pointer;
	letter-spacing: 0.06em;
	transition: 0.2s linear;
}
.bg_4 button:hover,
.backgrounddd button:hover,
.backgrounddd_blog button:hover{
	background-color: #eb5f1e;
	color: #fff;
}

/* burger bar */
.backgrounddd{
	height: 100vh;
	overflow-x: hidden;
	background: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.363)),
	 url(../images/iceberg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}
.backgrounddd.active:before,
.backgrounddd_blog.active:before {
	opacity: 1;
}
/* .backgrounddd:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgba(0, 0, 0, .40);
	-webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	-moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
} */
.hamburger-menu {
	width: 5.5rem;
	height: 5.5rem;
	position: absolute;
	top: 5rem;
	right: 5rem;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
	cursor: pointer;
	z-index: 101;
	transition: .2s linear;
}
.hamburger-menu.active {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0.5;
}
.hamburger-menu.active span:first-child {
	top: 2rem;
	position: absolute;
	-moz-transform: rotate(-50deg);
	-webkit-transform: rotate(-50deg);
	-o-transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
	transform: rotate(-50deg);
}
.hamburger-menu.active span:nth-of-type(2) {
	top: 2rem;
	position: absolute;
	-moz-transform: rotate(230deg);
	-webkit-transform: rotate(230deg);
	-o-transform: rotate(230deg);
	-ms-transform: rotate(230deg);
	transform: rotate(230deg);
	-webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	-moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}
.hamburger-menu.active span:last-of-type{
   display: none;
}
.hamburger-menu span {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	height: 3%;
	width: 40%;
	background: #fff;
	-webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	-moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	margin: 0.4rem 0;
	font-size: 10px;
}
.hamburger-menu:hover{
	opacity: 0.5;
}
.menu {
	width: 100%;
	height: 32rem;
	left: 0;
	transform: matrix(1, 0, 0, 1, 0, -320);
	-ms-transform: matrix(1, 0, 0, 1, 0, -320);
	-webkit-transform: matrix(1, 0, 0, 1, 0, -320);
	-webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	-moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	justify-content: center;
}
.menu ul {
	flex: auto;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	overflow: hidden;
	position: absolute;
	top: 25%;
	
}
.menu ul li {
	transform: matrix(1, 0, 0, 1, 0, 40);
	-ms-transform: matrix(1, 0, 0, 1, 0, 40);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 40);
	-webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
	-moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}
.menu ul li a {
	font-size: 30px;
	font-family: 'rubik-light';
	line-height: 5rem;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	color: #fff;
	margin: 0 4rem;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu ul li a:hover {
	opacity: 0.5;
}
.menu.active{
	transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	background: #141414e1;
	height: 100vh;
	position: absolute;
	z-index: 100;
}
.menu.active ul li,
.backgrounddd input,
.backgrounddd_blog input {
	animation: fadeIn 1s ease-in both;
}
.menu.active ul li:nth-child(1) {
	animation-delay: 0.5s;
}
.menu.active ul li:nth-child(2) {
	animation-delay: 1s;
}
.menu.active ul li:nth-child(3) {
	animation-delay: 1.5s;
}
.menu.active ul li:nth-child(4) {
	animation-delay: 2s;
}
.menu.active ul li:nth-child(5),
.backgrounddd input,
.backgrounddd_blog input {
	animation-delay: 2.5s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: matrix(1, 0, 0, 1, 0, 40);
		-ms-transform: matrix(1, 0, 0, 1, 0, 40);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 40);
   }
	to {
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, 0);
		-ms-transform: matrix(1, 0, 0, 1, 0, 0);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
   }
}
.backgrounddd input,
.backgrounddd_blog input{
	overflow: hidden;
	position: absolute;
	border: none;
	border-bottom: #eb5f1e solid 2px;
	font-size: 20px;
	padding: 0.5% 1%;
	background-color: transparent;
	top: 10%;
	color: #fff;
	font-family: 'rubik-Light';
	left: 29%;
	width: 40%;
}
.backgrounddd input::placeholder,
.backgrounddd_blog input::placeholder{
	color: rgba(255, 255, 255, 0.616);
	font-family: 'rubik-Light';
	
	text-transform: capitalize;
}

/* modal */
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    animation: openModal 0.3s ease;
}

.modal-container{
	background-color: #fff;
	width: 30%;
	margin: 10% auto;
	padding: 3% 5%;
    border-radius: 10px;
    position: relative;
}

.form h2{
    text-align: center;
    font-size: 24px;
	letter-spacing: 0.06em;
	font-family: 'rubik-light';
	margin-bottom: 5%;
}

.form-control{
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.form-control input{
	color: #1d1d1d;
	font-family: 'rubik-light';
	font-size: 18px;
    display: block;
    width: 100%;
    padding: 1.5% 2%;
	border: none;
	border-bottom: 1px #1d1d1d9c solid;
	text-transform: capitalize;
}
.form{
	text-align: center;
}
.form .modalBtn{
    border: 2px #1d1d1d solid;
	background-color:transparent;
	font-family: 'rubik-light';
    color: #1d1d1d;
    padding: 2% 5%;
    font-size: 18px;
	cursor: pointer;
	transition: 0.2s linear;
}

.form .modalBtn:hover{
	background-color: #1d1d1d;
	color: #fff;
}

@media(max-width: 600px){
    .navbar i{
        display: inline-block;
        color: #fff;
        font-size: 1.75rem;
        cursor: pointer;
    }

    .nav-links{
        display: none;
    }

    .sidebar{
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgb(31, 118, 172);
        display: inline-block;
        height: 100%;
        width: 200px;
    }

    .sidebar i{
        position: absolute;
        top: 10px;
        left: 10px;
        color: #fff;
        font-size: 1.75rem;
        cursor: pointer;
    }

    .side-nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;
    }

    .side-nav-links li a{
        color: #fff;
        font-size: 1.2rem;
    }

    .side-nav-links li a:hover{
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
    }
}

@keyframes openModal{
  from{
    opacity: 0;
  }
  
  to{
    opacity: 1;
  }
}
/* section 2- who we are */
.bg_2{
	padding: 10% 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.bg_2 h2{
font-size: 70px;
letter-spacing: 0.06em;
font-family: "rubik-light";
text-transform: capitalize;
color: #1d1d1d;
width: 48%;
}
.who{
	width: 48%;
}
.who p{
	color: #1d1d1d;
	font-family: "rubik-light";
	font-size: 22px;
	letter-spacing: 0.06em;
	line-height: 32px;
}
.who p:last-of-type{
margin-top: 7%;
}

/* section 3- how it works */
.bg_3{
	padding: 10% 0;
	background-color: #71717117;
}
.bg_4 h2,
.bg_3 h2,
.bg_3_ther h2{
	font-size: 70px;
	text-align: center;
	letter-spacing: 0.06em;
	font-family: 'rubik-light';
	text-transform: uppercase;
}
.how_box_wrapper{
	margin: 5% 0 10% 0;
	display: flex;
	justify-content: space-between;
}
.how_box{
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	width: 30%;
}
.how_icons{
	text-align: center;
}
.how_icon{
	text-align: end;
	font-size: 60px;
	color: #eb5f1e;
}
.how_box p{
	line-height: 24px;
	color: #1d1d1d;
	opacity: 0.8;
	font-size: 18px;
	font-family: "rubik-light";
	margin-top: 10%;
}
.bold{
	border-bottom: #1d1d1d3f 1px solid;
}
.bg_3 button{
	background-color: transparent;
	border: 2px solid #eb5f1e;
	text-transform: capitalize;
	font-size: 18px;
	color: #1d1d1d;
	font-family: 'rubik-light';
	padding:1% 1.5%;
	transition: .1s linear;
	cursor: pointer;
	letter-spacing: 0.06em;
	transition: 0.2s linear;
}

.bg_3 button:hover{
	background-color: #eb5f1e;
	color: #fff;
}
.button_wrapper {
	display: block;
	text-align: center;
}
.bg_4{
	padding: 10% 0;
}

/* section 4- our blog */
.box_flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 7%;
}
.box {
	display: flex;
	flex-direction: column;
	width: 315px;
	border: 0.5px solid #CECECE;
	border-radius: 10px;
	transition: .1s linear;
}
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3) {
	margin-bottom: 80px;
}
.box h3 {
	font-family: 'Rubik-Regular';
	font-size: 18px;
	text-align: center;
	letter-spacing: 0.06em;
	margin: 10% 10% 5% 10%;
	color: black;
	opacity: 0.88;
	text-transform: capitalize;
}
.box p {
	font-family: 'Rubik-Light';
	font-size: 16px; 
	line-height: 20px;
	margin: 0 10%;
	color: black;
	opacity: 0.88;
	letter-spacing: 0.06em;
}
.books {
	border-radius: 10px;
	width: 100%;
}
.read{
	text-align: end;
}
.read p{
	font-size: 14px;
	margin: 7% 10% 5% 0;
	text-transform: capitalize;
	color: #093cac;
}
.read p:hover{
	color: #6176a3;
}
.bg_4 button{
	background-color: transparent;
	border: 2px solid #eb5f1e;
	text-transform: capitalize;
	font-size: 18px;
	color: #1d1d1d;
	font-family: 'rubik-light';
	padding:1% 1.5%;
	transition: .1s linear;
	cursor: pointer;
	letter-spacing: 0.06em;
	transition: 0.2s linear;
}
.bg_4 button:hover{
	background-color: #eb5f1e;
	color: #fff;
}

/* section 5- publications  */
.bg_5{
	background-color: #71717117;
	padding: 10% 0;
	text-align: center;
}
.bg_5 h2{
	font-size: 70px;
	font-family: 'rubik-light';
	text-transform: capitalize;
	letter-spacing: 0.06em;
}
.publ_wrapper{
	display: flex;
	justify-content: space-between;
	margin: 5% 0;
}
.bg_5 h3{
	color: #fff;
	font-size: 25px;
	font-family: 'rubik-light';
	letter-spacing: 0.06em;
	text-transform: capitalize;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

.block_1{
	background-image:linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.89)), 
	url(https://www.ceeol.com/api/image/getissuecoverimage?id=picture_2019_48336.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 65%;
	height: 200px;
	position: relative;
	transition: 0.2s linear;
}
.block_2{
	background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.767)),
	url(https://www.apa.org/pubs/books/images/431799A-475.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 30%;
	height: 200px;
	transition: 0.3s linear;
}
.block_wrapper{
	display: flex;
	justify-content: space-between;
}
.blocks{
	background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.623)),
	url(https://sigmapubs.onlinelibrary.wiley.com/cms/asset/6fbd11b3-8a3a-45e1-af4a-6bad4fc870da/jnu.2018.50.issue-6.cover.jpg);
	height: 200px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 30%;
	transition: 0.3s linear;
}
.block_1:hover,
.block_2:hover,
.blocks:hover{
	transform: scale(1.1,1.1);
}
.bg_5 button{
	color: #1d1d1d;
	background-color: transparent;
	border: #eb5f1e 2px solid;
	font-size: 18px;
	text-transform: capitalize;
	font-family: 'rubik-light';
	padding: 0.9% 1.5%;
	margin-top: 5%;
	cursor: pointer;
	transition: 0.2s linear;
}
.bg_5 button:hover{
	color: #fff;
	background-color: #eb5f1e;
}
/* section 6- let's talk */
.bg_6{
	padding: 10% 0;
}
.contact_wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact_wrapper img{
	width: 48%;
}
.contact_wrapper h2{
	font-size: 70px;
	font-family: 'rubik-light';
	letter-spacing: 0.06em;
	text-transform: capitalize;
	color: #1d1d1d;
}
.contact_wrapper p{
	font-size: 22px;
	letter-spacing: 0.06em;
	font-family: 'rubik-light';
	line-height: 32px;
	margin: 5% 0 10% 0;
}
.talk{
	width: 48%;
}
.bg_6 button{
	border: #eb5f1e 2px solid;
	background-color: transparent;
	color: #1d1d1d;
	text-transform: capitalize;
	padding: 0.8% 1.5%;
	font-size: 18px;
	font-family: 'rubik-light';
	cursor: pointer;
	margin-top: 5%;
	transition: 0.2s linear;
}
.bg_6 button:hover{
	color: #fff;
	background-color: #eb5f1e;
}
/* footer */
.background_img_f{
	background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.363)),
	url(../images/iceberg.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
	height: 300px;
	padding-top: 5%;
}
.form_wrapper{
	display: flex;
	flex-direction: column;
	width: 40%;
}
.form_wrapper label{
	font-size: 32px;
	font-family: 'rubik-light';
	letter-spacing: 0.06em;
	text-transform: capitalize;
	color: #fff;
	opacity: .9;
}
.form_wrapper input{
	font-size: 18px;
	padding: 2% 2.5%;
	color: #1d1d1d;
	border: none;
	margin: 5% 0;
	font-family: 'rubik-light';
}
.form_wrapper button{
	font-size: 18px;
	border: 2px #fff solid;
	background-color: transparent;
	padding: 1.5% 1%;
	color: #fff;
	text-transform: capitalize;
	opacity: .9;
	margin-left: -0.5%;
	width: 30%;
	cursor: pointer;
	transition: 0.2s linear;
}
.form_wrapper button:hover{
	background-color: #fff;
	color: #1d1d1d;
}
.button_wrapper_sub{
	text-align: end;
}
.footer_wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icons{
	display: flex;
	justify-content: space-between;
	width: 8%;
}
.social{
	color: #fff;
	font-size: 24px;
	transition: 0.2s linear;
}
.social:hover{
	color: rgba(255, 255, 255, 0.644);
}
.background_img_f p{
	text-align: center;
	text-transform: capitalize;
	color: #fff;
	opacity: .8;
	font-family: 'rubik-light';
	margin-top: 7%;
}

/* back to top button */
#back_to_top{
	position: fixed;
	bottom: 48px;
	right: 48px;
	background-color: #1d1d1d;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 16px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 700;
	transition: all 0.2s linear;
	display: inline-block;
	opacity: 0;
	text-decoration: none;
	font-size: 12px;
	box-shadow: 1 1 32px #1d1d1d;
	font-family: 'Rubik-Light';
}
#back_to_top:hover{
	padding: 16px 48px;
}
#back_to_top.visible {
	opacity: 1;
}
/* blog page 
=====================================================================================================================================================================================================================*/
/* header */
.backgrounddd_blog{
	background: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.363)),
	 url(../images/iceberg.png) no-repeat center center fixed;
	 height: 35vh;
}

/* slider */

  .slider {
	position: relative;
	height: 100vh;
	width: 100%;
	background: #777;
	overflow: hidden;
  }
  .slider__wrap {
	position: absolute;
	width: 100vw;
	height: 100vh;
	transform: translateX(100vw);
	top: 0%;
	left: 0;
	right: auto;
	overflow: hidden;
	transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transform-origin: 0% 50%;
	transition-delay: 450ms;
	opacity: 0;
  }
  .slider__wrap--hacked {
	opacity: 1;
  }
  .slider__back {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	background-position: center;
	background-repeat: none;
	transition: filter 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .slider__inner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0%;
	background-size: auto 133.3333%;
	background-position: center;
	background-repeat: none;
	transform: scale(0.75);
	transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 450ms step-end;
	opacity: 0;
	box-shadow: 0 3vh 3vh rgba(0, 0, 0, 0);
	padding: 15vh;
	box-sizing: border-box;
  }
  .slider__content {
	position: relative;
	top: 50%;
	width: 60%;
	transform: translateY(-50%);
	color: #fff;
	font-family: 'rubik-light';
	opacity: 0;
	transition: opacity 450ms;
  }
  .slider__content h1 {
	text-transform: capitalize;
	color:#fff;
	font-weight: 900;
	font-size: 9vh;
	line-height: 0.85;
	margin-bottom: 0.75vh;
	text-shadow: 0 0.375vh 0.75vh rgba(0, 0, 0, 0.1);
  }
  .slider__content .go-to-next {
	  color: #eb5f1e;
	cursor: pointer;
	font-size: 5vh;
	letter-spacing: 0.3vh;
	font-weight: 100;
	position: relative;
  }
  .slider__content .go-to-next:after {
	content: '';
	display: block;
	width: 9vh;
	background: #eb5f1e;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 12vh;
	transform: translateY(-50%);
	transform-origin: 0% 50%;
	transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .slider__content .go-to-next:before {
	content: '';
	border-top: 2px solid #eb5f1e;
	border-right: 2px solid #eb5f1e;
	display: block;
	width: 1vh;
	height: 1vh;
	transform: translateX(0) translateY(-50%) rotate(45deg);
	position: absolute;
	font-family: 'Heebo', sans-serif;
	font-weight: 100;
	top: 50%;
	left: 22vh;
	transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .slider__content .go-to-next:hover:after {
	transform: scaleX(1.5);
	transition: transform 1200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .slider__content .go-to-next:hover:before {
	transform: translateX(6vh) translateY(-50%) rotate(45deg);
	transition: transform 1200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .slider__slide {
	position: absolute;
	left: 0;
	height: 100vh;
	width: 100vw;
	transition: transform 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition-delay: 600ms;
	pointer-events: none;
	z-index: 0;
  }
  .slider__slide--active {
	transform: translatex(0%);
	z-index: 2;
  }
  .slider__slide--active .slider__wrap {
	transform: translateX(0);
	transform-origin: 100% 50%;
	opacity: 1;
	animation: none;
  }
  .slider__slide--active .slider__back {
	filter: blur(1.5vh);
	transition: filter 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition-delay: 900ms !important;
  }
  .slider__slide--active .slider__inner {
	transform: scale(0.8);
	box-shadow: 0 1vh 6vh rgba(0, 0, 0, 0.2);
	pointer-events: auto;
	opacity: 1;
	transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 1ms step-end;
	transition-delay: 900ms;
  }
  .slider__slide--active .slider__content {
	opacity: 1;
	transition-delay: 1350ms;
  }
  .slider__slide:not(.slider__slide--active) .slider__wrap {
	animation-name: hack;
	animation-duration: 900ms;
	animation-delay: 450ms;
	animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  @keyframes hack {
	0% {
	  transform: translateX(0);
	  opacity: 1;
	}
	50% {
	  transform: translateX(-100vw);
	  opacity: 1;
	}
	51% {
	  transform: translateX(-100vw);
	  opacity: 0;
	}
	52% {
	  transform: translateX(100vw);
	  opacity: 0;
	}
	100% {
	  transform: translateX(100vw);
	  opacity: 1;
	}
  }
  .slider__slide:nth-child(1) .slider__back, .slider__slide:nth-child(1) .slider__inner {
	background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.363)),
	url(https://s-media-cache-ak0.pinimg.com/736x/fa/85/78/fa85786d002d243723df04022c110ab7--arte-anatomica-web-tattoo.jpg);
  }
  .slider__slide:nth-child(2) .slider__back, .slider__slide:nth-child(2) .slider__inner {
	background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.363)),
	url(https://mendoyogatoo.co.uk/wp-content/uploads/2019/12/AEPD1791-2000x1200.jpeg);
  }
  .slider__slide:nth-child(3) .slider__back, .slider__slide:nth-child(3) .slider__inner {
	background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.363)),
	url(https://anxiety-gone.com/wp-content/uploads/2020/08/sarah-brown-5zoIpDzLbE4-unsplash.jpg);
  }

  /* contact page
  ======================================================================================================================================================== */
  .social_c{
	color: #1d1d1d;
}
.contacts_bg{
	padding: 10% 0;
}
.contacts_bg iframe{
	margin-top: 5%;
}
.contacts_wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.contact h2{
	color: rgba(29,29,29,.7);
	letter-spacing: 0.05em;
	font-family:'Rubik-Light';
	text-transform: capitalize;
	font-size: 18px;
}
.contact p{
	color: #1d1d1d;
	font-size: 22px;
	letter-spacing: 0.05em;
	font-family: 'Rubik-Light';
	margin: 10% 0;
}
.icons_c{
	margin-top: 10%;	
}
.icons_c a{
	margin-right: 5%;
}
.social_c{
	font-size: 26px;
	color: #1d1d1d;
	transition: 1s linear;
}
.social_c:hover{
	color: #1d1d1d3a;
}
.forms{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 5%;
}
.forms label{
	font-size: 18px;
	font-family: 'Rubik-Light';
	letter-spacing: 0.06em;
	color: #1d1d1d;
}
.forms input{
	margin-top: 2%;
	padding: 1% 5%;
	outline: none;
	border: none;
	border-bottom: #eb5f1e 2px solid;
	font-size: 20px;
	opacity: 0.8;
}
.forms textarea{
	border: none;
	border-bottom: #eb5f1e 2px solid;
	font-size: 20px;
	opacity: 0.7;
	resize: none;
	outline: none;
	padding: 2% 5%;
	height:100px;
}
.forms_wrapper{
	width: 50%;
}
.forms_wrapper form{
	width: 100%;
}
.forms_wrapper h2{
	font-size: 40px;
	font-family: 'rubik-light';
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 0.06em;
}
.forms_wrapper p{
	color: rgba(29,29,29,.7);
	font-size: 18px;
	font-family: 'rubik-light';
	letter-spacing: 0.06em;
	line-height: 1.8em;
	margin: 6% 0;
}
.button_c{
	outline: none;
	background-color: transparent;
	border: 2px #eb5f1e solid ;
	font-size: 18px;
	font-family: 'rubik-light';
	color:#1d1d1d;
	cursor: pointer;
	padding: 1.5% 5%;
	text-transform: uppercase;
	margin-top: 5%;	
	-webkit-transition: 0.1s background-color linear, 0.1s color linear;	
	-o-transition: 0.1s background-color linear, 0.1s color linear;	
	transition: 0.1s background-color linear, 0.1s color linear;
}
.button_c:hover{
	background-color: #eb5f1e;;
	color: #fff;
}
.bg_blog{
	padding: 10% 0;
}
.bg_blog article:first-of-type,
.bg_blog article:last-of-type{
	display: flex;
	justify-content: space-between;
	margin-right: 10%;
	align-items: flex-start;
}
.bg_blog article img{
	width: 60%;
}
.bg_blog article div{
	display: flex;
	flex-direction: column;
	width: 30%;
}
.bg_blog article h2{
	text-transform: capitalize;
	font-size: 48px;
	font-family: 'rubik-regular';
	letter-spacing: 0.06em;
}
.bg_blog article p:first-of-type{
	margin: 5% 0 10% 0;
	font-size: 24px;
	font-family: 'rubik-light';
	letter-spacing: 0.06em;
}
.bg_blog article a{
	text-align: end;
	text-transform: uppercase;
	font-family: 'rubik-light';
	font-size: 18px;
	color: #6176a3;
	transition: 1s linear;
}
.bg_blog article a:hover{
	color: #6176a341;
}
.bg_blog article:nth-of-type(2){
	display: flex;
	justify-content: space-between;
	margin: 10% 0 10% 10%;	
}
.pages{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 10%;
}
.num{
	margin-right: 5%;
	font-family: 'rubik-light';
	letter-spacing: 0.06em;
	color: #1d1d1d;
	text-transform: capitalize;
	font-size: 18px;
	-webkit-transition: 170ms linear;
	-o-transition: 170ms linear;
	transition: 170ms linear;
	opacity: 0.8;
}
.num:nth-child(2){
	border-bottom: #eb5f1e 2px solid;
}
.num:hover{
	color: black;
	opacity: 1;
}
/* therapy page 
================================================================================================================================================================== */
.bg_therapy{
	padding: 10% 0;
}
.bg_therapy h2{
	font-family: 'rubik-regular';
	font-size: 70px;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: capitalize;
}
.bg_therapy p{
	font-family: 'rubik-light';
	font-size: 36px;
	letter-spacing: 0.06em;
	text-align: center;
	margin: 3%;
}
.bg_therapy button{
	outline: none;
	background-color: transparent;
	border: 2px #eb5f1e solid ;
	font-size: 18px;
	font-family: 'rubik-light';
	color:#1d1d1d;
	cursor: pointer;
	padding: 1.5% 2%;
	text-transform: uppercase;
	transition: 0.1s background-color linear, 0.1s color linear;
}
.bg_therapy button:hover{
	background-color: #eb5f1e;
	color: #fff;
}
.bg_dia{
	background-color: #71717117;
	padding: 10% 0;
}
.dia_flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.dia_box{
	background: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(17, 17, 17, 0.781)),
	 url(https://www.charlesglassmanmd.com/images/page/blog-8-useful-ways-to-fight-anxiety-and-depression-15990486306021.jpg) no-repeat center center ;
	 background-size: cover;
	width: 30%;
	height: 300px;
	position: relative;
	transition: 3s linear;
}
.dia_box:hover{
	background: linear-gradient(to bottom, rgba(17, 17, 17, 0.452), rgb(17, 17, 17)),
	url(https://www.charlesglassmanmd.com/images/page/blog-8-useful-ways-to-fight-anxiety-and-depression-15990486306021.jpg) no-repeat center center ;	
	background-size: cover;
}
.dia_box h3{
	font-size: 20px;
	font-family: 'rubik-light';
	letter-spacing: 0.06em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	text-transform: uppercase;
}
.dia_box:first-child,
.dia_box:nth-child(2),
.dia_box:nth-child(3){
	margin-bottom: 5%;
}
.bg_3_ther{
	padding-top: 10%;
}